<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>To Do List - Vue.js</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

	<!-- Meta tags para Whatsapp -->
	<meta property="og:locale" content="pt_BR">
	<meta property="og:type" content="website">
	<meta property="og:title" content="ToDoList">
	<meta property="og:description" content="Salve qualquer coisa!">
	<meta property="og:url" content="https://brianmath.github.io/ToDoList_Vue/">
	<meta property="og:image" content="https://i.imgur.com/6A2s2lv.png">
	<meta property="og:image:alt" content="Logo do site">
	<meta property="og:image:width" content="512">
	<meta property="og:image:height" content="512">

	<link rel="stylesheet" href="style.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://unpkg.com/vue@3"></script>

	<!-- Nunito 400, 600 -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
	<header>
		<nav>
			<ul>
				<li>
					<a href="https://brianmath.github.io/" target="_self" class="LinkNavbar" id="Inicio">
						<img src="home.svg" alt="Página inicial" width="16" height="16">
						<p>Início</p>
					</a>
				</li>

				<li>
					<a href="https://brianmath.github.io/GuessTheFlag/" target="_self" class="LinkNavbar">Guess the Flag</a>
				</li>

				<li>
					<a href="https://brianmath.github.io/ToDoList_Vue/" target="_self" class="LinkNavbar">To Do List</a>
				</li>
			</ul>
		</nav>
	</header>

	<footer>
		<a href="https://iconscout.com/icons/list" target="_blank">List Icon</a> by <a href="https://iconscout.com/contributors/superndre" target="_blank">SuperNdre</a>
	</footer>

	<main id="App">
		<h1>To Do List</h1>

		<section>
			<div id="ToDoAdd">
				<input type="text" name="ToDoInput" id="ToDoInput" @keyup.enter="addToDo">
				<button @click="addToDo">Adicionar</button>
			</div>

			<div id="ToDoList">
				{{ getToDos }}
				<ul>
					<li	v-for="todo in todos"
						:key="todo.id"
						@click="toggleCompleted(todo.id)">
						<div id="ToDoItem">
							<p :class="{ completed: todo.completed }">
								• {{ todo.text }}
							</p>
							<button v-if="todos.length > 0"
								id="ToDoDelete"
								@click="deleteToDo(todo.id)">
								<span class="material-icons">
									delete
								</span>
							</button>
						</div>
					</li>
				</ul>
			</div>
		</section>
	</main>

	<!-- Importar componente raiz -->
	<script src="./main.js"></script>

	<!-- Fazer mount do vue -->
	<script>
		App.mount('#App')
	</script>
</body>
</html>